.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
.header , .footer {
	background: #6fcce2;
	display: block;
	height: 40px;
	margin-bottom: 20px;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.logo img {
    height: 170px;
	float: left;
}
.app-name {
	padding: 90px 0px 0px 346px;
	font-size: -webkit-xxx-large;
}
.form-container {
	width: 30%;
	font-size: large;
	margin: 0 auto;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.login-detail {
	margin-bottom: 10px;
	margin-top: 60px;
}
.user, .pass{
	margin-bottom: 7px;
	margin-top: 7px;
}
body {
	height: 100%;
}