{% extends "base.html" %}
{% block content %}
<div class="main_menu">
    <ul>
        <li>
            <a class="btn btn-warning"  href="/home">Home</a>
        </li>
        <li>
            <a class="btn btn-warning"  href="/sign-out">Log Out</a>
        </li>
    </ul>
</div>
<div class="page-title">
    Create a Bucket List Item
</div>
<div>
    <form action="/create_bucketlist_item" method="post" class="sign-up">
        Enter The Bucket List Item Name
        <input name="name" id="name" type="text"  required><br>
        Enter The Bucket List Item Description<br>
        <textarea name="description" placeholder="Enter The Bucket List Item Description" required></textarea>
        <input type="submit" class="btn btn-danger">
    </form>
</div>
{% endblock %}