{% extends "base.html" %}
{% block content %}
<div class="main_menu">
    <ul>
        <li>
            <a class="btn btn-warning" href="/create_bucketlist">Add Bucket lists</a>
        </li>
        <li>
            <a class="btn btn-warning"  href="/sign-out">Log Out</a>
        </li>
    </ul>
</div>
<div class="content users">
    <div class="page-title">
        Bucket Lists
    </div>

        <div class="table">
            {% if bucket_lists %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Bucket List Name</th>
                </tr>
                </thead>
                <tbody>
                    <form action="" method="post">
                        {% for name in bucket_lists %}
                        <tr>
                            <td><a href="viewbucketlist?bucketlistname={{ name }}">{{ name }}</a></td>
                        </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>
            {% else %}
                    <div>No Bucket Currently Existing. Please Create One.</div>
            {% endif %}
        </div>

</div>
{% endblock %}