{% extends "base.html" %}
{% block content %}
<form action="/login" method="POST" class="login">
    <div class="form-label">
        Please Login:
    </div>
        <input name = "email" class="form-control" type="text" placeholder="Enter Your Email Address" required/><br>
        <input name="password" class="form-control ps" type="password" placeholder="Enter Your Password" required/><br>
        <button class="btn btn-danger" type="submit">Submit</button>
    <div class="form-label2">
        Have no account?<br><br>
    <a href="/register" class="btn btn-success">Sign Up</a>
    </div>
</form>
{% endblock %}
