{% extends "base.html" %}
{% block content %}
<div class="page-title">
    Sign Up
</div>
<div>
    <form action="/register" id="form" method="post" class="sign-up">
        <div>Please enter your details to register. </div>
        <input name="first_name" type="text"  placeholder="Enter First Name" required >
        <input name="last_name" class=""  type="text" placeholder="Enter Last Name" required >
        <input name ="user_email" id="email" class="form-control error" type="text" placeholder="Enter Email" required="required" >
        <input name= "password" type="password" placeholder="Enter Password" required >
        <input type="submit" class="btn btn-danger">
        <div class="login-link">
            If you have an account, you can sign in <a href="/">here</a>.
        </div>
    </form>
</div>
{% endblock %}